@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    font-family: 'Amatic SC', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

body {

}

.header__title {
    margin: 1em;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #354259;
}

/*  Estilos de Navbar   */

nav {
    position: sticky !important;
    top: 0;
    background-color: #ECE5C7;
    box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.3);
    z-index: 10;
}

nav li {
    font-size: 2rem;
}

nav .navbar-brand {
    font-size: 2rem;
}

nav .navbar-toggler {
    border: 1px dashed #354259;
}

#TituloMarca {
    padding-bottom: 0;
    border-bottom: 1px dashed #354259;
}

/*  Estilos de pie de pagina  */
.footer__container {
    text-align: center;
    padding: 2vh 2vw;
    background-color: #898c6d;
    color: whitesmoke;
    position: static;
    bottom: 0;
}

/*  Animaciones generales  */

.swing-in-left-fwd {
    -webkit-animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-in-right-fwd {
    -webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}


@-webkit-keyframes swing-in-right-fwd {
    0% {
        -webkit-transform: rotateY(-100deg);
        transform: rotateY(-100deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes swing-in-right-fwd {
    0% {
        -webkit-transform: rotateY(-100deg);
        transform: rotateY(-100deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}