#Productos {
    background-color: #c2ded1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23354259' fill-opacity='0.3' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

nav {
    grid-area: nav;
}

header {
    grid-area: header
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*  Estilos generales   */

#Productos .header__title h1 {
    display: inline;
    padding: 0 2rem;
    border-radius: 20px;
    border-color: #354259;
    border-style: dashed;
    border-width: 2px;
    background-color: #c2ded1;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.productos__container {
    display: grid;
    padding: 1em;
    margin: 1em;
}

.productos__container article {
    width: 100%;
    position: relative;
    border: 1px dashed #354259;
    border-radius: 5px;
    overflow: hidden;
}

.productos__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productos__container article h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    background-color: gainsboro;
}

.productos__item__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3542598a;
    opacity: 0;
    transition: .5s ease;
}

.productos__item__overlay button {
    width: 10rem;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s ease;
}

.productos__item__overlay button:hover {
    background-color: #ECE5C7;
    transition: .5s ease;
}

.productos__item__overlay:hover {
    opacity: 1;
    transition: .5s ease;
}


/*  Mobile First    */
#Productos.g-template {
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}

.g-template-productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "mates"
        "bombillas"
        "equipos"
        "yerberos"
        "termos"
        "otros";
    gap: 5px;
}

#Mates {
    grid-area: mates;
}

#Bombillas {
    grid-area: bombillas;
}

#Equipos {
    grid-area: equipos;
}

#Yerberos {
    grid-area: yerberos;
}

#Termos {
    grid-area: termos;
}

#Otros {
    grid-area: otros;
}


@media screen and (max-width: 720px) {
    .productos__container article {
        margin: 2vh 0;
    }
}


@media screen and (min-width: 720px) {
    .g-template-productos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 30rem);
        grid-template-areas:
            "mates mates"
            "bombillas equipos"
            "yerberos termos"
            "otros otros"
    }

    #Homepage.g-template {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "nav nav"
            "aside header"
            "main main"
            "footer footer";
    }

}

@media screen and (min-width: 1024px) {
    .g-template-productos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30rem);
        grid-template-areas:
            "mates bombillas equipos"
            "mates yerberos termos"
            "otros otros otros";
    }
}

@media screen and (min-width: 1300px) {
    .g-template-productos {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 30rem);
        grid-template-areas:
            "mates mates bombillas bombillas equipos equipos"
            "mates mates yerberos yerberos termos otros"
    }
}