* {
    font-family: 'Amatic SC', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.header__title {
    margin: 2em;
    text-align: center;

    h1 {
        padding: 1em 2em;
        font-size: $fontSizeXL;
        font-weight: bold;
        color: $color_darkblue;
    }
}