@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

//Tipos de fuentes:
$mainFont: 'Amatic SC', sans-serif;

//Tamaños de fuentes:
$fontSizeSm: 2rem;
$fontSizeMd: 2.5rem;
$fontSizeLg: 3rem;
$fontSizeXL: 3.5rem;
