.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vh 2vw;
    background-color: #898c6d;
    color: whitesmoke;
    position: static;
    bottom: 0;

    p {
        margin: 0;
    }
}